<!DOCTYPE html>
<html>
<head>

    <!-- Basic Page Needs
    ================================================== -->
    <title>VTE :: @ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    @Styles.Render("~/bundles/css")

    @{
        SisV.Models.Usuario usuario = Utils.ObtenerUsuarioSesion();
    }

</head>

<body >

    <!-- Wrapper -->
    <div id="wrapper">
        <!-- Header Container
    ================================================== -->
        <header id="header-container">

            <!-- Header -->
            <div id="header">
                <div class="container">

                    <!-- Left Side Content -->
                    <div class="left-side">

                        <!-- Logo -->
                        <div id="logo">
                            <a href="/"><img src="/Content/images/logo.png" alt=""></a>
                        </div>

                        <!-- Mobile Navigation -->
                        <div class="mmenu-trigger">
                            <button class="hamburger hamburger--collapse" type="button">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
                            </button>
                        </div>

                        <!-- Main Navigation -->
                        <nav id="navigation" class="style-1">
                            <ul id="responsive">

                                <li>
                                    <a class="current" href="/Menu/Inicio">Inicio</a>
                                </li>

                                <li>
                                    <a href="#">Servicios</a>
                                    <ul>
                                        <li><a href="dashboard.html">Consultas</a></li>
                                        <li><a href="dashboard-wallet.html">Hospitalizaciones</a></li>
                                        <li><a href="dashboard-messages.html">Exámenes</a></li>
                                        <li><a href="dashboard-bookings.html">Radiografía</a></li>
                                        <li><a href="dashboard-bookings.html">Ecografía</a></li>
                                        <li><a href="dashboard-bookings.html">Etología</a></li>
                                        <li><a href="dashboard-bookings.html">Urgencia</a></li>
                                        <li><a href="dashboard-bookings.html">Servicio a domicilio</a></li>
                                        <li><a href="dashboard-bookings.html">Guardería</a></li>
                                        <li><a href="dashboard-bookings.html">Peluquería</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="/Menu/Promociones">Promociones</a>
                                </li>
                            </ul>
                        </nav>
                        <div class="clearfix"></div>
                        <!-- Main Navigation / End -->

                    </div>

                    @if (usuario != null)
                    {
                        <!-- Left Side Content / End -->
                        <div class="right-side">
                            <div class="header-widget">
                                <!-- User Menu -->
                                <div class="user-menu">
                                    <div class="user-name"><span><img src="@usuario.Imagen" alt=""></span>Hola @usuario.Nombres @usuario.Apellidos!</div>
                                    <ul>
                                        <li><a href="@Url.Action("Index", "Dashboard")"><i class="sl sl-icon-settings"></i> Dashboard</a></li>
                                        <li><a href="@Url.Action("Documentos", "Dashboard")"><i class="sl sl-icon-envelope-open"></i> Informes o Recetas</a></li>
                                        <li><a href="@Url.Action("MisOpiniones","Dashboard")"><i class="fa fa-calendar-check-o"></i> Mis Reseñas</a></li>
                                        <li><a href="@Url.Action("LogOut", "Menu")"><i class="sl sl-icon-power"></i> Cerrar Sesión</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }

                    @if (usuario == null)
                    {
                        <!-- Right Side Content / End -->
                        <div class="right-side">
                            <div class="header-widget">
                                <a href="#sign-in-dialog" class="sign-in popup-with-zoom-anim"><i class="sl sl-icon-login"></i> Iniciar Sesión</a>
                            </div>
                        </div>
                        <!-- Sign In Popup -->
                    }
                    <div id="sign-in-dialog" class="zoom-anim-dialog mfp-hide">

                        <div class="small-dialog-header">
                            <h3>Inicio de Sesión</h3>
                        </div>

                        <!--Tabs -->
                        <div class="sign-in-form style-1">

                            <ul class="tabs-nav">
                                <li class=""><a href="#tab1">Login</a></li>
                                <li><a href="#tab2">Registrar</a></li>
                            </ul>

                            <div class="tabs-container alt">

                                <!-- Login -->
                                <div class="tab-content" id="tab1" style="display: none;">

                                    <p class="form-row form-row-wide">
                                        <label for="username">
                                            Usuario:
                                            <i class="im im-icon-Male"></i>
                                            <input type="text" class="input-text" name="Usuario" id="Usuario" value="" required />
                                        </label>
                                    </p>

                                    <p class="form-row form-row-wide">
                                        <label for="password">
                                            Contraseña:
                                            <i class="im im-icon-Lock-2"></i>
                                            <input class="input-text" type="password" name="Password" id="Password" required />
                                        </label>
                                        <span class="lost_password">
                                            <a href="#">¿Olvidaste tu contraseña?</a>
                                        </span>
                                    </p>

                                    <div class="form-row">
                                        <input type="button" class="button border margin-top-5" name="login" onclick="Login()" value="Login" />
                                        <div id="div_Loginerror" class="notification closeable error" style="margin-top: 20px; margin-bottom: 0px;" hidden></div>
                                    </div>

                                </div>

                                <!-- Register -->
                                <div class="tab-content" id="tab2" style="display: none;">
                                    <form action="@Url.Action("RegistroPaso2","Menu")" method="post" class="" id="Form_Registrar" autocomplete="off">

                                        <p class="form-row form-row-wide">
                                            <label for="nombre">
                                                Nombre:
                                                <i class="text-danger im im-icon-Male"></i>
                                                <input type="text" class="input-text" name="Nombre" id="nombre" value="" required />
                                            </label>
                                            <label id="lbl_nombre"></label>
                                        </p>

                                        <p class="form-row form-row-wide">
                                            <label for="apellidos">
                                                Apellidos:
                                                <i class="im im-icon-Male"></i>
                                                <input type="text" class="input-text" name="Apellidos" id="apellidos" value="" required />
                                            </label>
                                            <label id="lbl_apellidos"></label>
                                        </p>

                                        <p class="form-row form-row-wide">
                                            <label for="email">
                                                Email :
                                                <i class="im im-icon-Mail"></i>
                                                <input type="text" class="input-text" name="Email" id="email" value="" required />
                                            </label>
                                            <label id="lbl_email"></label>
                                        </p>

                                        <p class="form-row form-row-wide">
                                            <label for="contrasena1">
                                                Contraseña:
                                                <i class="im im-icon-Lock-2"></i>
                                                <input class="input-text" type="password" name="Contrasena" id="contrasena1" required />
                                            </label>
                                            <label id="lbl_contrasena1"></label>
                                        </p>

                                        <p class="form-row form-row-wide">
                                            <label for="contrasena2">
                                                Repetir contraseña:
                                                <i class="im im-icon-Lock-2"></i>
                                                <input class="input-text" type="password" name="contrasena2" id="contrasena2" required>
                                            </label>
                                            <label id="lbl_contrasena2"></label>
                                        </p>

                                        <input type="button" class="button border fw margin-top-10" onclick="Registrar()" name="register" value="Registrar" />
                                        <div id="div_Registroerror" class="notification closeable error" style="margin-top: 20px; margin-bottom: 0px;" hidden></div>

                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- Sign In Popup / End -->
                    <!--Continuo de Registro-->
                    <!--End Registro-->
                </div>
            </div>
            <!-- Header / End -->


            @RenderBody()


        </header>
        <div class="clearfix"></div>

        <a href="listings-half-screen-map-list.html" class="flip-banner parallax margin-top-65" data-background="/Content/images/slider-bg-02.jpg" data-color="#f91942" data-color-opacity="0.85" data-img-width="2500" data-img-height="1666">
            <div class="flip-banner-content">
                <h2 class="flip-visible">Expolore top-rated attractions nearby</h2>
                <h2 class="flip-hidden">Browse Listings <i class="sl sl-icon-arrow-right"></i></h2>
            </div>
        </a>


        <div id="footer" class="sticky-footer">
            <!-- Main -->
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-sm-6">
                        <img class="footer-logo" src="/Content/images/logo.png" alt="">
                        <br><br>
                        <p>Morbi convallis bibendum urna ut viverra. Maecenas quis consequat libero, a feugiat eros. Nunc ut lacinia tortor morbi ultricies laoreet ullamcorper phasellus semper.</p>
                    </div>

                    <div class="col-md-4 col-sm-6 ">
                        <h4>Sobre PetLove</h4>
                        <ul class="footer-links">
                            <li><a href="#">Quiénes somos</a></li>
                            <li><a href="#">Términos y condiciones</a></li>
                            <li><a href="#">Unirse a PetLove</a></li>
                            <li><a href="#">Contacto</a></li>
                            <li><a href="/Menu/Login">Ingreso Empresa</a></li>
                        </ul>

                        <div class="clearfix"></div>
                    </div>

                    <div class="col-md-3  col-sm-12">
                        <h4>Contáctanos</h4>
                        <div class="text-widget">
                            <span>12345 Cardenal Nori, Viña del Mar, Chile</span> <br>
                            Teléfono: <span>(123) 123-456 </span><br>
                            E-Mail:<span> <a href="#">office@petlove.cl</a> </span><br>
                        </div>

                        <ul class="social-icons margin-top-20">
                            <li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
                            <li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
                            <li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
                        </ul>

                    </div>

                </div>

                <!-- Copyright -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="copyrights">© 2019 Petlove.Todos los Derechos Reservados.</div>
                    </div>
                </div>

            </div>

        </div>

        <!-- Footer / End -->
        <!-- Back To Top Button -->
        <div id="backtotop"><a href="#"></a></div>


    </div>
    <!-- Wrapper / End -->
    <!-- Scripts
    ================================================== -->
    <!-- Typed Script -->
    <script type="text/javascript" src="~/Content/scripts/typed.js"></script>
    <script type="text/javascript">
        var typed = new Typed('.typed-words', {
            strings: ["Vacunas", " Exámenes", " Radiografias", "Peluquería"],
            typeSpeed: 80,
            backSpeed: 80,
            backDelay: 4000,
            startDelay: 1000,
            loop: true,
            showCursor: true
        });

    </script>

    <script type="text/javascript">
        function Registrar() {
            var nombre = document.getElementById("nombre").value;
            var apellidos = document.getElementById("apellidos").value;
            var email = document.getElementById("email").value;
            var contrasena1 = document.getElementById("contrasena1").value;
            var contrasena2 = document.getElementById("contrasena2").value;
            var Mensaje = "";
            var pathname = window.location.pathname;

            if (nombre == "") { $("#lbl_nombre").addClass("bg-danger"); document.getElementById("lbl_nombre").innerHTML = "Campo Obligatorio"; Mensaje = "Error"; } else { $("#lbl_nombre").removeClass("bg-danger"); document.getElementById("lbl_nombre").innerHTML = ""; }
            if (apellidos == "") { $("#lbl_apellidos").addClass("bg-danger"); document.getElementById("lbl_apellidos").innerHTML = "Campo Obligatorio"; Mensaje = "Error"; } else { $("#lbl_apellidos").removeClass("bg-danger"); document.getElementById("lbl_apellidos").innerHTML = ""; }
            if (contrasena1 == "") {
                $("#lbl_contrasena1").addClass("bg-danger"); document.getElementById("lbl_contrasena1").innerHTML = "Campo Obligatorio"; Mensaje = "Error";
            } else if (contrasena1.length < 8) {
                $("#lbl_contrasena1").addClass("bg-danger"); document.getElementById("lbl_contrasena1").innerHTML = "Mínimo 8 Caracteres"; Mensaje = "Error";
            } else {
                $("#lbl_contrasena1").removeClass("bg-danger"); document.getElementById("lbl_contrasena1").innerHTML = "";
            }

            if (contrasena2 == "") {
                $("#lbl_contrasena2").addClass("bg-danger"); document.getElementById("lbl_contrasena2").innerHTML = "Campo Obligatorio"; Mensaje = "Error";
            } else if (contrasena2.length < 8) {
                $("#lbl_contrasena2").addClass("bg-danger"); document.getElementById("lbl_contrasena2").innerHTML = "Mínimo 8 Caracteres"; Mensaje = "Error";
            } else {
                $("#lbl_contrasena2").removeClass("bg-danger"); document.getElementById("lbl_contrasena2").innerHTML = "";
            }


            var regex = /[\w-\.]{2,}@@([\w-]{2,}\.)*([\w-]{2,}\.)[\w-]{2,4}/;

            if (regex.test($('#email').val().trim())) { $("#lbl_email").removeClass("bg-danger"); document.getElementById("lbl_email").innerHTML = ""; } else { $("#lbl_email").addClass("bg-danger"); document.getElementById("lbl_email").innerHTML = "Correo Invalido"; Mensaje = "Error"; }

            if (contrasena2 != contrasena1) { $("#lbl_contrasena2").addClass("bg-danger"); document.getElementById("lbl_contrasena2").innerHTML = "Contraseña diferente a la anterior"; Mensaje = "Error"; }

            if (Mensaje == "") {
                params = "Nombre=" + nombre + "&Apellidos=" + apellidos + "&Email=" + email + "&Contrasena=" + contrasena1;

                if (pathname == "/") {
                    url = "/Menu/Register";
                } else if (pathname == "/Menu") {
                    url = "/Register";
                } else {
                    url = "Register";
                }

                $("#Form_Registrar").submit();

                //$.ajax
                //    ({
                //        data: params,
                //        cache: true,
                //        type: 'Post',
                //        typeData: "json",
                //        url: url,
                //        success: function (data) {
                //            if (data.Codigo == 0) {
                //                $("#div_Registroerror").removeClass("error");
                //                $("#div_Registroerror").addClass("success");
                //                document.getElementById("div_Registroerror").innerHTML = "Se Ha Registrado Exitosamente";
                //                $("#div_Registroerror").removeAttr("hidden");
                //                $("#register-continue").modal('show');
                //            } else {
                //                $("#div_Registroerror").removeAttr("hidden");
                //                document.getElementById("div_Registroerror").innerHTML = "Usted Ya se encuentra en nuestros Registros";
                //            }

                //        }
                //    });
            }
        }

        function Login() {

            var Usuario = document.getElementById("Usuario").value;
            var Password = document.getElementById("Password").value;
            var Mensaje = "";
            var url = "";
            var pathname = window.location.pathname;

            if (Usuario == "") {
                $("#div_Loginerror").removeAttr("hidden");
                document.getElementById("div_Loginerror").innerHTML = "Debe ingresar Usuario";
                Mensaje = "Error";
            }

            if (Password == "") {
                $("#div_Loginerror").removeAttr("hidden");
                document.getElementById("div_Loginerror").innerHTML = "Debe ingresar Contraseña";
                Mensaje = "Error";
            } else if (Password.length < 8) {
                $("#div_Loginerror").removeAttr("hidden");
                document.getElementById("div_Loginerror").innerHTML = "Contraseña Mínimo 8 Caracteres";
                Mensaje = "Error";
            }

            if (Mensaje == "") {
                params = "Usuario=" + Usuario + "&Password=" + Password;

                if (pathname == "/") {
                    url = "/Menu/Login";
                } else if (pathname == "/Menu") {
                    url = "/Login";
                } else {
                    url = "Login";
                }

                $.ajax
                    ({
                        data: params,
                        cache: true,
                        type: 'Post',
                        typeData: "json",
                        url: url,
                        success: function (data) {
                            if (data.Codigo == 0) {
                                $("#div_Loginerror").removeClass("error");
                                $("#div_Loginerror").addClass("success");
                                document.getElementById("div_Loginerror").innerHTML = "Bienvenido";
                                $("#div_Loginerror").removeAttr("hidden");
                                location.reload();
                            } else {
                                $("#div_Loginerror").removeAttr("hidden");
                                document.getElementById("div_Loginerror").innerHTML = "Usuario y Contraseña Incorrecta";
                            }
                        }
                    });
            }
        }

    </script>


    @Scripts.Render("~/bundles/js")
    @RenderSection("Scripts", false)

</body>
</html>