@using System.Data;
@model DataSet
<style>
    .btn22 {
        background-color: #01A9AC;
        border: none;
        color: white;
        padding: 6px 11px;
        font-size: 11px;
        cursor: pointer;
    }

        .btn22:hover {
            background-color: #01DBDF;
        }
</style>
<style>
    .btn33 {
        background-color: #FE5D70;
        border: none;
        color: white;
        padding: 6px 11px;
        font-size: 11px;
        cursor: pointer;
    }

        .btn33:hover {
            background-color: #FE909D;
        }
</style>

<link rel="icon" href="~/Content/assets/images/favicon.ico" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="~/Content/bower_components/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/icon/themify-icons/themify-icons.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/icon/icofont/css/icofont.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/icon/feather/css/feather.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/css/style.css">



<body>

    <div class="col-sm-12">
        <div class="page-body toolbar-page">
            <div class="card-header" style="background-color:#01A9AC;color:#fff">
                <h6 class="my-1">Mantenedor de @ViewBag.Nombre <i style="color:#fff;" tabindex="0"></i></h6>

            </div>
            <div class="card">
                <div class="card-block">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-10">
                                <div class="d-flex flex-wrap" id="inventario_header">
                                    <button class="btn btn-primary btn-outline-primary" onclick="OpenModMan('COL|I|0~0')" data-toggle="tooltip" data-placement="top" title="Agregar @ViewBag.Nombre"><i class="icofont icofont-ui-add"></i>Agregar @ViewBag.Nombre</button>
                                    <button class="btn btn-primary btn-outline-primary" data-toggle="tooltip" data-placement="top" title="Exportar a Excel"><i class="icofont icofont-file-excel"></i>Xls</button>
                                    <button class="btn btn-primary btn-outline-primary" data-toggle="tooltip" data-placement="top" title="Exportar a Pdf"><i class="icofont icofont-file-pdf"></i>Pdf</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="dt-responsive table-responsive">
                            @if (@ViewBag.Nombre == "color")
                            {
                                <table id="simpletable" class="table">
                                    <thead>
                                        <tr>
                                            <th>Código</th>
                                            <th>Nombre</th>
                                            <th>DatosLog</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (DataRow row in Model.Tables[0].Rows)
                                        {
                                            <tr id="@row["col_Codigo"]">
                                                <td>@row["col_Codigo"]</td>
                                                <td>@row["col_Nombre"]</td>
                                                <td>@row["Log"]</td>
                                                <td>
                                                    <button class="btn22" onclick="OpenModMan('COL|U|@row["col_Codigo"]~@row["col_Nombre"]')"><i class="icofont icofont-ui-edit"></i> Modificar</button>
                                                    <button class="btn33" onclick="Save('COL|D|@row["col_Codigo"]~@row["col_Nombre"]')"><i class="icofont icofont-ui-delete"></i> Eliminar</button>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Código</th>
                                            <th>Nombre</th>
                                            <th>DatosLog</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            }
                        </div>
                    </div>

                </div>



            </div>
        </div>
    </div>
    <!-- MODAL COLOR -->
    <div class="modal fade" id="ModColor" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="TitulMod">Mantenedor de Color</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">ID color</label>
                        <div class="col-sm-10">
                            <input name="codColor" id="codColor" maxlength="3" type="text" class="form-control" placeholder="Código color">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Nombre color</label>
                        <div class="col-sm-10">
                            <input name="nomColor" id="nomColor" type="text" maxlength="50" class="form-control" placeholder="Nombre color">
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect " data-dismiss="modal">Cerrar</button>
                    <button type="button" id="btnInsert"  class="btn btn-primary waves-effect waves-light" onclick="Save('COL|I')">Guardar</button>
                    <button type="button" id="btnUpdate" class="btn btn-primary waves-effect waves-light" onclick="Save('COL|U')">Guardar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- SCRIPTS -->
    <script>
        function OpenModMan(dat) {
            var datInt;
            var valores = dat.split("|");
            var man = valores[0];
            var acc = valores[1];
            var Datos = valores[2];

            if (man == "COL") {
                datInt = Datos.split("~");
                var cod = datInt[0];
                var nom = datInt[1];

                if (acc == "I") {
                $('#TitulMod').text("Ingresar Color");
                $('#codColor').val("");
                    $('#nomColor').val("");
                }
                else {
                $('#TitulMod').text("Modificación Color");
                $('#codColor').val(cod);
                    $('#nomColor').val(nom);
                }

                $('#ModColor').modal('show');
            }
        };
    </script>
    <script>
        function Save(data) {
         
            var valores = data.split("|");
            var man = valores[0];
            var acc = valores[1];
           
            if (man == "COL")
            {
                alert("entramos");
                var a = data + "|" +  $('#codColor').val() + "~" + $('#nomColor').val();
                                
            }            
            alert(a);
                $.ajax({
                    url: "/Menu/Accionar",
                    data: { a: a },
                    success: function (response) {
                        $('#ModColor').modal('hide')

                        if (acc == "D") {
                            var drow = $('#simpletable').DataTable();
                            drow.row('#' + cod).remove().draw(!1);
                        }

                        new PNotify({
                            title: 'Información',
                            text: response + " exitosamente",
                            icon: 'icofont icofont-info-square',
                            type: 'info'
                        });

                    },
                });
        }
    </script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
</body>