<!DOCTYPE html>

<html lang="es-es">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DashBoard :: @ViewBag.Title</title>
    @Styles.Render("~/bundles/css")
</head>
<body>   
    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Header Container
    ================================================== -->
        @RenderPage("_Principal.cshtml")
        <div class="clearfix"></div>
        <!-- Header Container / End -->
        <!-- Dashboard -->
        <div id="dashboard">

            <!-- Navigation
        ================================================== -->
            <!-- Responsive Navigation Trigger -->
            <a href="#" class="dashboard-responsive-nav-trigger"><i class="fa fa-reorder"></i> Dashboard Navigation</a>

            <div class="dashboard-nav">
                <div class="dashboard-nav-inner">

                    <ul data-submenu-title="Principal">                      
                        <li><a href="@Url.Action("Perfil","Dashboard")"><i class="sl sl-icon-envelope-open"></i> Mensajes <span class="nav-tag messages">2</span></a></li>
                        <li><a href="@Url.Action("Perfil","Dashboard")"><i class="fa fa-get-pocket"></i> Mis Mascotas</a></li>
                        <li><a href="@Url.Action("Perfil","Dashboard")"><i class="sl sl-icon-wallet"></i> Historial</a></li>
                    </ul>

                    <ul data-submenu-title="Opciones">
                        <li>
                            <a><i class="sl sl-icon-layers"></i> Mis Solicitudes</a>
                            <ul>
                                <li><a href="@Url.Action("Perfil","Dashboard")">Aceptadas <span class="nav-tag green">6</span></a></li>
                                <li><a href="@Url.Action("Perfil","Dashboard")">Pendientes <span class="nav-tag yellow">1</span></a></li>
                                <li><a href="@Url.Action("Perfil","Dashboard")">Rechazadas <span class="nav-tag red">2</span></a></li>
                            </ul>
                        </li>
                        <li><a href="@Url.Action("Documentos","Dashboard")"><i class="sl sl-icon-docs"></i>Documentos</a></li>
                        <li><a href="@Url.Action("MisOpiniones","Dashboard")"><i class="sl sl-icon-star"></i> Mis Reseñas</a></li>
                        <li><a href="@Url.Action("Perfil","Dashboard")"><i class="sl sl-icon-heart"></i> Favoritos</a></li>
                    </ul>

                    <ul data-submenu-title="Mi Cuenta">
                        <li><a href="@Url.Action("Perfil","Dashboard")"><i class="sl sl-icon-user"></i> Mi Perfil</a></li>
                        <li><a href="@Url.Action("LogOut","Dashboard")"><i class="sl sl-icon-power"></i> Desconectar</a></li>
                    </ul>

                </div>
            </div>
            <!-- Navigation / End -->
            <!-- Content
        ================================================== -->
            <div class="dashboard-content">

                @RenderBody()

            </div>
            <!-- Content / End -->


        </div>
        <!-- Dashboard / End -->


    </div>
    <!-- Wrapper / End -->
    @Scripts.Render("~/bundles/js")
    @RenderSection("Scripts", false)
</body>
</html>
