@using System.Data;
@model DataSet

@{
    ViewBag.Title = "Landing";
}

<div class="main-search-container" data-background-image="https://listeo.pro/wp-content/uploads/2019/02/listeo_background-1.jpg">

    <div class="main-search-inner">

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>
                        ¿Qué buscas?...
                        <!-- Typed words can be configured in script settings at the bottom of this HTML file -->
                        <span class="typed-words"></span>
                    </h2>
                    <h4>Busca éstos y muchos más servicios disponibles</h4>

                    <div class="main-search-input">

                        <div class="main-search-input-item">
                            <input type="text" placeholder="¿Qué necesitas?" value="" />
                        </div>

                        <div class="main-search-input-item location">
                            <div id="autocomplete-container">
                                <input id="autocomplete-input" type="text" placeholder="Ubicación">
                            </div>
                            <a href="#"><i class="fa fa-map-marker"></i></a>
                        </div>

                        <div class="main-search-input-item">
                            <select data-placeholder="Categorias" class="chosen-select">
                                <option>Todas las categorias</option>
                                @foreach (DataRow row in Model.Tables[0].Rows)
                                {
                                    <option value="@row["tpo_ID_TipoGeneral"]">@row["tpo_Nombre"]</option>
                                }
                            </select>
                        </div>

                        <button class="button" onclick="window.location.href='/Menu/Busqueda'">Buscar</button>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<!-- Content
================================================== -->
<div class="container">
    <div class="row">

        <div class="col-md-12">
            <h3 class="headline centered margin-top-75">
                <strong class="headline-with-separator">Categorías disponibles</strong>
            </h3>
        </div>

        <div class="col-md-12">
            <div class="categories-boxes-container margin-top-5 margin-bottom-30">
                @foreach (DataRow row in Model.Tables[0].Rows)
                {
                    <!-- Box -->
                    <a href="/Menu/Busqueda" class="category-small-box">
                        <i class="@row["tpo_Icono_Html"]"></i>
                        <h4>@row["tpo_Nombre"]</h4>
                        <span class="category-box-counter">12</span>
                    </a>
                }

            </div>
        </div>
    </div>
</div>
<!-- Category Boxes / End -->
<!-- Fullwidth Section -->
<section class="fullwidth margin-top-65 padding-top-75 padding-bottom-70" data-background-color="#f8f8f8">

    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <h3 class="headline centered margin-bottom-45">
                    Clínicas más visitadas
                    <span>Descubre los centros con mejor valoración</span>
                </h3>
            </div>
        </div>

        <div class="row">

            <div class="col-12">
                <!-- Carousel / Start -->
                <div class="simple-slick-carousel dots-nav">

                    @foreach (DataRow row in Model.Tables[1].Rows)
                    {
                        <!-- Listing Item -->
                        <div class="carousel-item">
                            <a href="@Url.Action("Centro","Menu", new { ID_Centro = row["cen_ID_Centro"] })"  class="listing-item-container">
                                <div class="listing-item">
                                    <img src="@row["cen_Img1"]" alt="">

                                    <div class="listing-item-content">
                                        <h3>@row["cen_RazonS"]</h3>
                                        <span>@row["cen_Direccion"], @row["com_Nombre"]</span>
                                    </div>
                                    <span class="like-icon"></span>
                                </div>

                                @{
                                    string Valor = Utils.CalcularVolorizacion(row["opi_Valor"].ToString(), Convert.ToInt32(row["cant_Opinion"])).ToString();
                                }

                                <div class="star-rating" data-rating="@Valor.Replace(",",".")">
                                    <div class="rating-counter">(@row["cant_Opinion"] Comentarios)</div>
                                </div>
                            </a>
                        </div>
                                    }

                </div>
            </div>
        </div>
    </div>    

</section>

<!-- Info Section / End -->
<!-- Fullwidth Section -->
<section class="fullwidth margin-top-65 padding-top-75 padding-bottom-70">

    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <h3 class="headline centered margin-bottom-45">
                    Últimas clínicas
                    <span>¡Descubre los nuevos centros disponibles!</span>
                </h3>
            </div>
        </div>
    </div>

    <!-- Carousel / Start -->
    <div class="simple-fw-slick-carousel dots-nav">
        @foreach (DataRow row in Model.Tables[2].Rows)
        {
            <!-- Listing Item -->
            <div class="fw-carousel-item">
                <a href="listings-single-page.html" class="listing-item-container compact">
                    <div class="listing-item">
                        <img src="@row["cen_Img1"]" alt="">

                        <div class="listing-badge now-open">Now Open</div>

                        <div class="listing-item-content">                            
                            <h3>@row["cen_RazonS"]</h3>
                            <span>@row["cen_Direccion"]</span>
                        </div>
                        <span class="like-icon"></span>
                    </div>
                </a>
            </div>

        }
    </div>
    <!-- Carousel / End -->


</section>
<!-- Fullwidth Section / End -->
<!-- Container -->
<!-- Container / End -->
<!-- Footer

================================================== -->
